{% extends 'django_registration/base.html' %}
<!-- loaded bootstrap -->
{%load bootstrap4 %}
<!-- start of block content -->
{% block content %}

<form action="/accounts/register/" method="post">
  <p class="subheading-black primary-text">
    Welcome to the <br />
    Neighbourhood
  </p>
  <p class="body-sm-regular">
    Fill in the form below to create an account with us. It's free!
  </p>
  {% csrf_token %} {% bootstrap_form form %}

  <input type="submit" value="Sign Up" class="secondary-button" />
  <p
    style="
      font-family: 'Century Gothic Bold';
      text-align: center;
      font-size: 12px;
    "
  >
    If you already have an account,
    <span
      ><a class="secondary-text" href="/accounts/login/">click here</a></span
    >
    to login
  </p>
</form>
<input type="hidden" name="next" value="{{next}}" />

{% endblock content %}
