{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Neighbourhood</title>
    {% endif %}

    <link rel="stylesheet" href="{% static 'css/colors.css' %}" />
    <link rel="stylesheet" href="{% static 'css/components.css' %}" />
    <link rel="stylesheet" href="{% static 'css/typography.css' %}" />
    <link rel="stylesheet" href="{% static 'css/layout.css' %}" />
    <link rel="stylesheet" href="{% static 'css/media-queries.css' %}" />
  </head>
  <body class="light-background">
    <div class="sidebar" id="sidebar">
      <div class="sidebar-user">
        <img
          src="{% static 'images/user_avatar.png' %}"
          alt=""
          class="user-avatar"
        />
        <p class="body-md-bold white-text">Manuel Runte</p>
        <button
          id="close-sidebar"
          type="button"
          class="secondary-button"
          style="width: auto"
        >
          X
        </button>
      </div>

      <div class="sidebar-nav">
        <a href="/" class="sidebar-nav-item">
          <img src="{% static 'images/feed.png' %}" alt="" />
          <p>Feed</p>
        </a>
        <a href="/events" class="sidebar-nav-item">
          <img src="{% static 'images/events.png' %}" alt="" />
          <p>Events</p>
        </a>
        <a href="/businesses" class="sidebar-nav-item">
          <img src="{% static 'images/businesses.png' %}" alt="" />
          <p>Businesses</p>
        </a>
        <a href="/contacts" class="sidebar-nav-item">
          <img src="{% static 'images/contacts.png' %}" alt="" />
          <p>Contacts</p>
        </a>
      </div>

      <div class="sidebar-buttons"></div>
    </div>
    <div class="root-container">
      <!-- start of content block -->
      {% block content %}
      <!-- end of content block -->
      {% endblock content %}
    </div>

    <script
      src="https://kit.fontawesome.com/a872bbb5df.js"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
  </body>
</html>
